<form action="/edit" method="post">
<h1>Página de edição posts: </h1>
<p> Titulo: </p>
<input type="text" name = "titulo">

<p>Conteúdo</p>
<textarea name="conteudo" id="" cols="30" rows="10">

</textarea>

<button type="submit"> Atualizar postagem </button>

</form>